
:root {
    --dark-color: #212121;
    --light-color: #deeefb;
    --title-color: var(--dark-color);
    --font-size: 1rem;
    --accent-color: #ff983e;
    --background-color: #020c17;
    --bs-nav-pills-link-active-color: #020c17 !important;
    --bs-nav-pills-link-active-bg: #ff983e !important;
}


html {
    font-size: var(--font-size);
    position: relative;
    color: var(--light-color);
    height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: var(--background-color);
    color: var(--light-color);
    height: 100%;
}

/*@media (min-width: 768px) {
    html {
        font-size: 16px;
        position: relative;
        height: 100%;
    }

    body{
        height: 100%;
    }
}*/

h1, h2, h3, h4, h5, h6 {
    color: var(--accent-color);
}

.area-form{
    display: flex;
    justify-content: center;
    align-items: start;
    color: var(--accent-color);
}

.area-form input{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.header-custom {
    height: 150px;
    background-image: url('../images/header-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*****************************************************************************************
	
	FOOTER                                                                  FOOTER

*****************************************************************************************/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.footer {
    //flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    width: 100%;
    z-index: 1111;
    flex-shrink: 0;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 15% 1fr;
    grid-gap: 10px;
    padding: 0.8rem 0;
    position: static;
    bottom: 0;
    background-color: var(--background-color);
    color: var(--accent-color);
    width: 100%;
    margin-top: 2rem;
    border-bottom: 1px solid var(--accent-color);
    border-top: 1px solid var(--accent-color);
}

.footer-item {
    display: flex;
    align-items: center;
    justify-content: start;
}

.footer-item a {
    color: var(--accent-color);
    text-decoration: none;
}

.footer-item a i {
    color: var(--accent-color);
    font-size: 1.8rem;
}

.footer-item span {
    color: var(--accent-color);
}

.footer-item a:hover {
    color: var(--background-color);
}

.footer-item a:visited {
    color: var(--background-color);
}

.footer-item a:active {
    color: var(--background-color);
}

.footer-item a:focus {
    color: var(--background-color);
}

.footer-item a:hover {
    color: var(--background-color);

    i {
        color: var(--background-color);
    }
}

.footer-item a img {
    width: 30px;
    height: auto;
}

.footer-item:nth-child(1) {
    flex-wrap: wrap;
}

.footer-item:nth-child(2) {
    justify-content: center;
}

.footer-item:nth-child(3) {
    justify-content: end;
}

.footer-item:nth-child(3) a {
    padding: 0 1rem;
    color: #d083cf;
}

.footer-item:nth-child(3) a:hover {
    opacity: 0.7;
    color: var(--background-color);
}



@media ( max-width: 755px ) {
    .footer-container {
        grid-template-columns: 1fr 1fr;
    }

    .footer-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-item:nth-child(1) {
        order: 3;
        grid-column: 3 / 1;
    }

    .footer-item:nth-child(2) {
        order: 2;
        grid-column: 3 / 1;
    }

    .footer-item:nth-child(3) {
        order: 1;
        grid-column: 3 / 1;
        justify-content: center;
    }
}

.note-editable {
    background-color: white !important;
    color: black !important;
}

/*****************************************************************************************
	
	NAV                                                                  NAV

*****************************************************************************************/
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#stickyNav {
    //position: fixed;
    z-index: 10;
}

/*this will be the back to top button*/
#btt {
    position: fixed;
    bottom: 80px;
    right: 15px;
    z-index: 50;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-color);
    background-color: var(--dark-color);
    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    cursor: pointer;
    transition: all 0.3s ease-out;

    i {
        font-weight: 900;
        font-size: 1.5rem;
    }
}

#btt span {
    position: absolute;
    right: 10px;
    opacity: 0;
    transition: all 0.3s ease-out;
}
#btt:hover {
    color: var(--dark-color);
    background-color: var(--accent-color);
    width: 130px;
    justify-content: start;
    padding-left: 0.5rem;

    span {
        opacity: 1;
    }
}

/*borders for nav menu*/
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.navbar-collapse{
    padding-left: 5px;
}

.nav-pills .active, .nav-pills .nav-link .active, .nav-pills .show > .nav-link {
    color: var(--bs-nav-pills-link-active-color) !important;
    background-color: var(--bs-nav-pills-link-active-bg) !important;
}


a, a:active, a:focus, .nav-link, .nav-link, .nav-link:active, .nav-link:focus {
    color: var(--accent-color);
    white-space: nowrap;
    //border-radius: 0px;
}


.nav-item:hover {
    /*border: 1px solid var(--accent-color);*/
    //border-radius: 5px;
    color: var(--background-color);
    background-color: var(--accent-color);
}

.search-button, .search-button:active, .search-button:focus {
    background-color: var(--background-color);
    border-radius: 0px;
    border: 1px solid var(--accent-color);
    width: 40px;
    height: 38px;
}

.search-bar{
    display: block !important;
}

.search-bar2{
    display: none !important;
}

@media (max-width: 772px){
    .search-bar {
        display: none !important;
    }

    .search-bar2 {
        display: block !important;
        display: flex !important;
        justify-content: center !important;
    }
}

@media (max-width: 575px) {
    .search-bar {
        display: block !important;
    }

    .search-bar2 {
        display: none !important;
    }
}

.search-button i{
    color: var(--accent-color);
}

.search-button:hover {
    background-color: var(--accent-color);
    color: var(--background-color);

    i {
        color: var(--background-color);
    }
}

.dropdown-menu {
    background-color: var(--background-color);
    display: none;
    border-radius: 0px;
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
}

@media (max-width: 556px){
    .dropdown-menu {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 500px) {
    .dropdown-menu {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

.dropdown{
    cursor:pointer;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-sub {
    padding-left: 0.5rem;

    a {
        text-decoration: none;
     }
}

.dropdown-sub:hover {
    background-color: var(--accent-color);
    color: var(--background-color);

    a {
        color: var(--background-color);
    }
}

/*search button*/
.form-outline {
    border-radius: 0px;
    border-color: var(--accent-color);
}
.search-input {
    border-color: var(--accent-color);
    border-radius: 0px;
    height: 40.5px;
    width: 100%;
    padding: 0px 3px;
    margin: 0px;
}

.search-input:focus, search-input:active {
    outline: none !important;
}
/*use myCardButton style*/
/*.btn-actions {
    color: var(--accent-color);
    background-color: var(--background-color);
    border-color: var(--accent-color);
}

.btn-actions:hover {
    color: var(--background-color);
    background-color: var(--accent-color);
    border-color: var(--background-color);
}*/
/*.nav-pills, .nav-pills .show {
    color: var(--accent-color);
    background-color: var(--background-color);
    border-color: #1861ac;
}*/

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.fa-hamburger {
    color: yellow;
}

.navbar-toggler-icon{
    background-color: var(--accent-color);
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-custom, .footer-custom {
    background-color: #212121;
    border-bottom: 2px solid var(--accent-color);
    border-top: 2px solid var(--accent-color);
    padding: 0;
    margin: 0;
}

/* change the brand color */
.navbar-custom .navbar-brand {
    color: var(--accent-color);
}

/* change text color */
.navbar-custom .navbar-text {
    color: var(--accent-color);
}

/* change the link color */
.navbar-custom .navbar-nav{
    color: var(--accent-color);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    background-color: var(--accent-color);
    color: var(--background-color);
}

#navbar .navbar-nav .nav-item{
    margin-right: 0.5rem;
}

// to get the styles working for the links in the ManageNav partial
.nav-pills li .active {
    background-color: var(--accent-color) !important;
    color: var(--background-color) !important;
}

* {
    box-sizing: border-box;
}

/*****************************************************************************************
	
	IMPORT FORM                                                               IMPORT FORM

*****************************************************************************************/


.import-form {
    color: var(--accent-color);
    background-color: var(--dark-color);
    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    padding: 1rem 0;
    margin: 1rem 0;

    button {
        padding: 0.5rem;
    }

    form {
        margin-top: 1rem;
    }

    textarea {
        width: 100%;
    }
}

#myInfo {
    display: block;
}

#updateMovie {
    display: none;
}

.updateForm {
    display: flex;
    justify-content: start;
    align-items: center;

    form {
        padding: 0;
        margin: 0;
    }

    button {
        padding: 0.5rem;
    }
}

#removeModal .modal-content {
    background-color: var(--background-color);
    border: 1px solid var(--accent-color);

    .modal-header, .modal-footer {
        border-color: var(--accent-color);
    }

    .modal-header .btn-close {
        color: var(--accent-color);
        background-color: var(--background-color);
        border: 1px solid var(--accent-color);
        --bs-btn-close-opacity: 0.8;
        --bs-btn-close-hover-opacity: 1;
        width: 1.5rem;
        height: 1.5rem;

        .bi::before {
            font-size: 1.5rem !important;
            font-weight: 900 !important;
        }
    }

    .modal-footer{
        align-items: start;
    }
}

.my-rating {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    .rate-label {
        margin-right: 1rem;
        padding: 0;
    }
}
.rating {
    display: flex;
    justify-content: end;
    //align-items: center;
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: center;
}

.rating .star {
    display: none;
}

.rating label {
    color: lightgray;
    display: inline-block;
    font-size: 22pt;
    margin: 0 0px;
    transition: transform .15s ease;
}

.rating label:hover {
    transform: scale(1.35, 1.35);
}

.rating label:hover,
.rating label:hover ~ label {
    color: var(--accent-color);
}

.rating .star:checked ~ label {
    color: var(--accent-color);
}

.rating-static {
    display: flex;
    justify-content: end;
    //align-items: center;
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: center;

    .star {
        display: none;
    }

    label {
        color: lightgray;
        display: inline-block;
        font-size: 22pt;
        margin: 0 0px;
        transition: transform .15s ease;
    }

    .star:checked ~ label {
        color: var(--accent-color);
        }
    }


/*****************************************************************************************
	
	CAROUSEL                                                            CAROUSEL

*****************************************************************************************/
    /*This removes carousel and displays cards on small screens*/
    #smallScreen {
        display: none;
    }

    @media (max-width: 576px) {
        #largeScreen {
            display: none;
        }

        #smallScreen {
            display: block;
            margin: 0 2rem;
        }
    }

    .carousel-indicators {
        position: relative;
    }

    .carousel-control-prev {
        margin-left: -10%;
        color: var(--accent-color);
        font-size: 40px;
        text-decoration: none;
    }

    .carousel-control-next {
        margin-right: -10%;
        color: var(--accent-color);
        font-size: 40px;
        text-decoration: none;
    }

    .carousel-control-prev:hover, .carousel-control-next:hover {
        background: transparent;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        height: 100px;
        width: 100px;
        //outline: black;
        color: var(--accent-color);
        background-size: 100%, 100%;
        //border-radius: 50%;
        //border: 1px solid black;
        background-image: none;
        text-decoration: none;
    }

    .carousel-control-next-icon:after {
        content: '>';
        font-size: 55px;
        color: var(--accent-color);
    }

    .carousel-control-prev-icon:after {
        content: '<';
        font-size: 55px;
        color: var(--accent-color);
    }

    .carousel-indicators li::marker {
        font-size: 0;
    }

    .carousel-banner {
        background-color: #212121;
        color: var(--accent-color);
        border-bottom: 2px solid var(--accent-color);
        border-top: 2px solid var(--accent-color);
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        //width: 100%;
    }

    .carousel-banner a {
        text-decoration: none;
        color: var(--accent-color);
        padding: 0 0rem;
    }

    .carousel-banner a:hover {
        color: var(--background-color);
        border-radius: 0px;
    }

    .carousel-banner a.active {
        text-decoration: none;
        background-color: var(--accent-color);
        color: #212121;
        padding: 0 0rem;
    }

    .carousel-inner > .carousel-item {
        -webkit-transition: -webkit-transform 1s ease-in-out;
        -o-transition: -o-transform 1s ease-in-out;
        transition: transform 1s ease-in-out;
    }
    /*****************************************************************************************
	
	CARDS                                                                  CARDS

*****************************************************************************************/
    /*home index cards*/
    .myCard {
        position: relative;
        transition: all .5s ease-in;
        /*width: 18rem;*/
        height: auto;
        border: 1px solid var(--accent-color);
        overflow: hidden;
    }


    .myCard-image {
        display: block;
        /*width: 85%;*/
        height: auto;
    }

    .myCard-overlay {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        //visibility: hidden;
        transition: .6s ease;
        background-color: #212121;
        padding: 0;
        margin: 0;
    }

    .myCard:hover .myCard-overlay {
        opacity: 0.9;
    }

    .overlay-text {
        //display: flex;
        //justify-content: center;
        //flex-direction: column;
        color: white;
        font-size: 1rem;
        position: absolute;
        top: 10%;
        /*left: 50%;*/
        /*-webkit-transform: translate(-50%, -50%);*/
        /*-ms-transform: translate(-50%, -50%);*/
        /*transform: translate(-50%, -50%);*/
        text-align: center;
        padding: 0.5rem;
        margin: 0;
    }

    .overlay-text a {
        text-decoration: none;
    }

    .myCard .card-title {
        color: white;
        font-size: 1.5rem;
        font-weight: 900;
        -webkit-text-stroke: 1px var(--accent-color);
        font-style: italic;
    }

.myCardButton, .myCardButton:active, .myCardButton:focus {
    background-color: #212121;
    padding: 0.5rem;
    display: inline-block;
    color: var(--accent-color);
    text-decoration: none;
    border: 1px solid var(--accent-color);
    margin-top: 1rem;
}

    .myCardButton:hover{
        background-color: var(--accent-color);
        color: #212121;
        /*opacity: 0.8;*/
    }

    .clampOverview {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .clampTitle {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: 100%;
    }


/*****************************************************************************************
	
	MOVIE DETAIL                                                               MOVIE DETAIL

*****************************************************************************************/
    /* movie deail header text*/
    .header-text, .header-text a {
        margin-top: 1.5rem;
        color: var(--accent-color);
        font-size: 1.5rem;
        font-weight: bold;
    }

    .movie-detail, .actor-detail {
        color: #bdb5b5;
    }

    .movie-detail hr, .actor-detail hr {
        border: 2px solid var(--accent-color);
    }

    .movie-detail img, .actor-detail img {
        min-width: 200px;
    }
    /*horizontal rule for cast header on movie detail page*/
    .hr {
        border-top: 2px solid var(--accent-color);
        margin-bottom: 2rem;
        margin-top: 3rem;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }
    /* trailer modal*//*
    .holder {
        width: 330px;
        height: 250px;
        position: relative;
        margin-top: 2rem;
        border: 2px solid var(--accent-color);
        border-radius: 5px;
    }

    .frame {
        width: 100%;
        height: 100%;
    }

    .trailer-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 560%;
        height: 50%;
        cursor: pointer;
    }

    .modal-content button {
        font-size: 1rem;
        text-align: center;
        color: var(--accent-color);
        font-weight: bold;
        background-color: #212121;
        border: 1px solid var(--accent-color);
        border-radius: 5px;
    }

    .modal-content button.active,
    .modal-content button:focus,
    .modal-content button:hover {
        background-color: var(--accent-color);
        color: #212121;
    }*/


/*****************************************************************************************
	
	CRUD VIEWS                                                              CRUD VIEWS

*****************************************************************************************/

    .crud-view, .crud-view th, .crud-view td {
        background-color: var(--background-color);
        color: var(--accent-color);
        border: 1px solid var(--accent-color);
    }

    .crud-view input {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }


/*****************************************************************************************
	
	LIBRARY VIEWS                                                  LIBRARY VIEWS

*****************************************************************************************/

.library-filter{
    background-color: var(--dark-color);
    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    padding: 0;
    margin: 0;
    color: var(--accent-color);
    margin-bottom: 1rem;

    ul {
        text-decoration: none;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        flex-shrink: 4;
        padding: 0.5rem;
        margin: 0;
        
        span{
            font-size: 1.3rem;
            font-weight: 700;
        }
        .line-break {
            width: 100%;
        }

        li {
            list-style-type: none;
            display: inline;
            white-space: nowrap;
            padding: 0 0.7rem;
        }
    }
}
